<div class="d-flex flex-column flex-md-row align-items-center p-3">
  <nav class="mr-md-auto">
    <a href="/" class="logo">Learn webservices</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-3 text-dark right-menu-item" href="#introduction">Intro</a>
    <a class="p-3 text-dark right-menu-item" href="#examples">Examples</a>
    <a class="p-2 text-dark github-icon" href="https://github.com/vicziani/learnwebservices" title="Source code on GitHub"><i class="fab fa-github"></i></a>
  </nav>
</div>
