<script src="/assets/js/jquery.min.js"></script>

<script src="/assets/js/clipboard.min.js"></script>

<script>
var clipboard = new ClipboardJS('.copy-button');
clipboard.on('success', function(event) {
  event.clearSelection();
});
</script>

<script src="/assets/js/anchorify.min.js"></script>

<script>
jQuery(window).load(function () {
    jQuery('body').anchorify();
});
</script>

<script src="/assets/js/lightbox.min.js"></script>

<script>
lightbox.option({
  'resizeDuration': 200,
  'fadeDuration': 200,
  'imageFadeDuration': 200,
  'albumLabel': "%1 / %2"
});
</script>

<script src="/assets/js/learnwebservices.js"></script>
