<div class="d-flex flex-column flex-md-row align-items-center p-3">
  <nav class="mr-md-auto">
    <a href="/" class="logo">Learn webservices</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-3 text-dark right-menu-item" href="/index-hu.html#bevezetes">Bevezetés</a>
    <a class="p-3 text-dark right-menu-item" href="/index-hu.html#peldak">Példák</a>
    <a class="p-2 text-dark github-icon" href="https://github.com/vicziani/learnwebservices" title="Forráskód a GitHubon"><i class="fab fa-github"></i></a>
  </nav>
</div>
