.navbar.navbar-language {
  height: 35px;
}

.navbar.navbar-language ul {
  flex-direction: row;
}

.navbar-language .navbar-nav .nav-link {
  color: rgba(0,0,0,.65);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  padding-right: 10px;
}

@media(min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
}


.navbar-light .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  color: #f05f40;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-decoration: none;
}

.navbar-light .navbar-brand:hover {
  color: #f05f40;
}


.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.65);
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-decoration: none;
  padding-right: 10px;
}

.navbar-light .navbar-nav .nav-link .fa-github {
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f05f40;
}

.nav-pills .nav-link.active {
  background-color: #f05f40;
  text-decoration: none;
}

.nav-pills .nav-link.active:hover {
  text-decoration: none;
}

.nav-pills .nav-link:hover {
  text-decoration: underline;
}

ul.nav.nav-pills {
  padding-top: 10px;
  padding-bottom: 20px;
}

h2 {
  margin-bottom: .8rem;
}


code {
  color: #f05f40;
}

a {
  text-decoration: underline;
  color: #f05f40;
}

a:hover {
  color: rgba(0,0,0,.65);
}


hr {
  border-width: 3px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  max-width: 50px;
}

header {
  background-color: #f05f40;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
}

header hr {
  border-color: #fff;
}

header p {
  color: rgba(255,255,255,.7);
  font-size: 1.5rem;
}

header a {
  font-size: 1rem;
  color: #ffffff;
}

header a:hover {
  color: #ffffff;
}

.container h1 {
  margin-top: 1.5rem;
  text-align: center;
}

.container hr {
  border-color: #f05f40;
}

.btn-primary {
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-primary:hover {
  background-color: #f05f40;
  border-color: #f05f40;
}


.btn-outline-primary {
  color: #f05f40;
  border-color: #f05f40;
}

.btn-outline-primary:focus {
  box-shadow: 0px 0px;
}

.form-control {
  color: #f05f40;
  border: 1px solid #f05f40;
}

pre.highlight {
  background-color: #fafafa;
  padding: 5px 5px 5px 20px;
}

footer {
  padding-top: 1rem;
}

.github-icon {
  font-size: 2rem;
}

.github-desc {
  padding-bottom: 5px;
}

.github-icon {
  font-size: 2rem;
  padding: 5px;
  vertical-align: middle;
}

.demo-image {
  text-align: center;
  padding: 20px;
}

.demo-image img {
  border: 1px #f05f40 solid;
  padding: 10px;
}

.header-link {
  display: inline-block;
  margin-left: -20px;
  padding-right: 8px;
  color: rgba(0,0,0,.65);
}

.header-link:hover {
  color: rgba(0,0,0,.65);
}

.header-link svg {
  visibility: hidden;
  }

@media(min-width: 576px) {
h1:hover .header-link svg,
h2:hover .header-link svg,
h3:hover .header-link svg,
h4:hover .header-link svg,
h5:hover .header-link svg,
h6:hover .header-link svg {
  visibility: visible;
}
}
